{% extends 'base.html' %}

{% block head %}Edit post{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock %}

{% block body %}
    <div class="container thread">
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item"><a href="{% url 'foro' %}">Topics</a></li>
            <li class="breadcrumb-item"><a href="{% url 'topic_threads' post.thread.topic.name %}">{{ post.thread.topic.name }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'thread_posts' post.thread.topic.name post.thread.name %}">{{ post.thread.name }}</a></li>
            <li class="breadcrumb-item active">Edit post</li>
        </ol>
        <form method="post" class="mb-4" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-success">Save changes</button>
            <a href="{% url 'thread_posts' post.thread.topic.name post.thread.name %}" class="btn btn-danger" role="button">Cancel</a>
        </form>
    </div>
{% endblock %}