{% extends 'base.html' %}

{% load static %}

{% block head %}
    <title>New post</title> 
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock %}

{% block body %}
    <div class="container thread">
        <ol class="breadcrumb my-4">
                <li class="breadcrumb-item"><a href="{% url 'foro' %}">Topics</a></li>
                <li class="breadcrumb-item"><a href="{% url 'topic_threads' thread.topic.name %}">{{ thread.topic.name }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'thread_posts' thread.topic.name thread.name %}">{{ thread.name }}</a></li>
                <li class="breadcrumb-item active">New post</li>
        </ol>
        <form method="post" class="mb-4" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit button" class="btn btn-success">Post a reply</button>
            <a class="btn btn-danger" href="{% url 'thread_posts' thread.topic.name thread.name %}">Cancel</a>
        </form>
    </div>
{% endblock %}