{%  extends 'base.html' %}
{% block head %}
  <title>Perfil</title>
{% endblock %}

{% block body %}
<section>
  <div class="container">
    <div class="row">
        <div class="col-md-auto">
          <p>
          {% if user.profile.profile_pic %}
          <img class="profileImage" src="{{ user.profile.profile_pic.url }}">
          {% else %}
          <img class="default_profileImage" src="/Proyecto4patas1/media/profile_image/default_profileImage.jpg">
          {% endif %}
          </p>
          <button type="button" class="btn btn-info btn-profile" onclick="window.location.href = '/profile/edit';">Edit profile</button><br>
          <button type="button" class="btn btn-info btn-profile" onclick="window.location.href = '/profile/changePassword';">Change password</button>
        </div>
        <div class="col">
          <h2>{{ user }}</h2>
          <h5>{{ user.first_name }} {{ user.last_name }}</h5>
          <p><i>About me</i><br>{{ user.profile.bio }}</p>
          <p><b>Email:</b> {{ user.email }}</p> 
          <p><b>Date joined:</b> {{ user.date_joined }}</p>
          <p><b>Last login:</b> {{ user.last_login }}</p>
          
        </div>
        
    </div>
  </div>
</section>
{% endblock %}
